/*
*Estilos para los contenedores
*/
.flex-container {
	display:-moz-flex;
    width: auto;
	height:100%;
    background-color: #D3D3D3;
	border-radius: 20px;
	box-shadow: 10px 10px 5px #888888;
	-moz-flex-direction:column;
}
.flex-item8 {
	display:inline-block;
	width: auto;
	height: auto;
    margin: 10px;
	border-radius: 20px;
}

span{
	display:block;
	text-align: center;
}