/*
*Estilos pie de pagina
*/
#main-footer {
	background: $azulcabecera;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;	display:inline-block;

	}