@charset "UTF-8";
/*!
@import url(http://fonts.googleapis.com/css?family=Rokkitt+Sans);
/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Cabecera
--------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #666;
  background: #f2f2f2;
  font-size: 1em;
  line-height: 1.5em;
  padding-top: 80px;
  /* Relleno superior igual a la altura de la cabecera*/ }

h1 {
  font-size: 2.3em;
  line-height: 1.3em;
  margin: 15px 0;
  text-align: center;
  font-weight: 300;
  font-family: 'Rokkitt', serif;
  /*Fuente importada de google fonts*/ }

h2 {
  text-align: center; }

p {
  margin: 0 0 0.5em 0; }

img {
  max-width: 100%;
  height: auto;
  -moz-animation: example 5s;
  -webkit-animation: example 5s; }

/*
* Este codigo es para dar estilo a la cabecera
*/
#main-header {
  background: #48D1CC;
  color: white;
  height: 80px;
  z-index: 5;
  width: 100%;
  /* hacemos que la cabecera ocupe el ancho completo de la pßgina */
  left: 0;
  /* Posicionamos la cabecera al lado izquierdo */
  top: 0;
  /* Posicionamos la cabecera pegada arriba */
  position: fixed;
  /* Hacemos que la cabecera tenga una posici¾n fija */ }

#main-header a {
  color: white; }

/*
 * Logo
 */
#logo-header {
  float: left;
  padding: 2px 0 0 0;
  text-decoration: none;
  -moz-animation: example 5s;
  -webkit-animation: example 5s; }

/*
 *Buscador 
 */
#buscador {
  float: left;
  padding: 2px 0 0 0;
  text-decoration: none;
  display: inline-block; }

/*
 * Menu
 */
nav {
  float: right;
  font-size: 0.870em; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 5px; }

nav ul li {
  display: inline-block;
  line-height: 80px; }

nav ul li a {
  display: block;
  padding: 0 2px;
  text-decoration: none; }

nav ul li a:hover {
  background: #0b76a6; }

nav ul li ul {
  float: left;
  width: auto;
  background: #48D1CC;
  display: none; }

nav ul li:hover ul {
  display: inline-block; }

#azalpena {
  text-align: center; }

/*
 * Esto para el contador de visitas
 */
div.visitas {
  float: left;
  width: 10em;
  background-color: #48D1CC;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  color: white; }

/*
 * Esto para el carrito de la compra
 */
div.pagproductos, div.pagcesta {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding-top: 60px;
  text-align: center;
  color: white; }

.pagproductos #cesta {
  float: right;
  width: 25em;
  background-color: #48D1CC; }

.pagproductos #cesta h3 {
  margin-left: 10px;
  margin-right: 10px; }

.pagproductos #cesta p {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 10px; }

.pagproductos #cesta input[type="submit"] {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 3px;
  width: 100px;
  height: 30px;
  padding-left: 0px; }

.pagproductos #productos {
  margin: 0 10em 0 10px; }

.pagcesta #productos {
  margin: 10px;
  font-size: 12px; }

.pagproductos #productos input,
.pagproductos #productos p {
  font-size: 10px; }

#productos .codigo {
  width: 20%;
  float: left; }

#productos .nombre {
  width: 60%;
  float: left; }

#productos .precio {
  width: 20%;
  text-align: right;
  font-weight: bold; }

/*--------------------------------------------------------------
# Contenido
--------------------------------------------------------------*/
/*
*Con esto aplico dise±o al contenido
*/
#main-content {
  background: white;
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

#main-content header,
#main-content .content {
  padding: 40px; }

/*--------------------------------------------------------------
# Pie
--------------------------------------------------------------*/
/*
*Estilos pie de pagina
*/
#main-footer {
  background: #48D1CC;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px; }

#main-footer p {
  margin: 0;
  display: inline-block; }

/*--------------------------------------------------------------
# Formulario
--------------------------------------------------------------*/
/*
*Estilos para el formulario
*/
form {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

/*--------------------------------------------------------------
# Contenedores
--------------------------------------------------------------*/
/*
*Estilos para los contenedores
*/
.flex-container {
  display: -moz-flex;
  width: auto;
  height: 100%;
  background-color: #D3D3D3;
  border-radius: 20px;
  box-shadow: 10px 10px 5px #888888;
  -moz-flex-direction: column; }

.flex-item8 {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 10px;
  border-radius: 20px; }

span {
  display: block;
  text-align: center; }

/*--------------------------------------------------------------
# Cookies
--------------------------------------------------------------*/
/*
 * Estilos para las cookies
 */
#informativo {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 999999;
  display: block; }

#cookie {
  margin: auto;
  position: relative;
  top: 0px;
  height: 58px;
  width: 100%;
  text-align: center;
  background-color: #eeeeee; }

#cookie p {
  line-height: 58px;
  font-size: 12px;
  text-align: center; }

/*--------------------------------------------------------------
# iframe
--------------------------------------------------------------*/
/*
 * Estilos para el iframe de youtube
 */
iframe {
  width: 700px;
  height: 480px;
  -moz-animation: example 5s;
  -webkit-animation: example 5s; }

/*--------------------------------------------------------------
# layout
--------------------------------------------------------------*/
/*
 * Estilo para el div del localStorage
 */
div.visitas {
  display: none; }

/*
 * Oculto el div del menu de movil
 */
a.menu-movil {
  display: none; }

/*--------------------------------------------------------------
# keyframes
--------------------------------------------------------------*/
/*
 * keyframes para el proyecto
 */
@-moz-keyframes example {
  0% {
    opacity: 0; }
  10% {
    opacity: 0.1; }
  20% {
    opacity: 0.2; }
  30% {
    opacity: 0.3; }
  40% {
    opacity: 0.4; }
  50% {
    opacity: 0.5; }
  60% {
    opacity: 0.6; }
  70% {
    opacity: 0.7; }
  80% {
    opacity: 0.8; }
  90% {
    opacity: 0.9; }
  100% {
    opacity: 1; } }
@-webkit-keyframes example {
  0% {
    opacity: 0; }
  10% {
    opacity: 0.1; }
  20% {
    opacity: 0.2; }
  30% {
    opacity: 0.3; }
  40% {
    opacity: 0.4; }
  50% {
    opacity: 0.5; }
  60% {
    opacity: 0.6; }
  70% {
    opacity: 0.7; }
  80% {
    opacity: 0.8; }
  90% {
    opacity: 0.9; }
  100% {
    opacity: 1; } }
/*--------------------------------------------------------------
# tabs
--------------------------------------------------------------*/
/* TABS */
ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 32px;
  border-bottom: 1px solid #999999;
  border-left: 1px solid #999999;
  width: 100%; }

ul.tabs li {
  float: left;
  margin: 0;
  cursor: pointer;
  padding: 0px 21px;
  height: 31px;
  line-height: 31px;
  border: 1px solid #999999;
  border-left: none;
  font-weight: bold;
  background: #EEEEEE;
  overflow: hidden;
  position: relative; }

ul.tabs li:hover {
  background: #CCCCCC; }

ul.tabs li.active {
  background: #FFFFFF;
  border-bottom: 1px solid #FFFFFF; }

.tab_container {
  border: 1px solid #999999;
  border-top: none;
  clear: both;
  float: left;
  width: 100%;
  background: #FFFFFF; }

.tab_content {
  padding: 20px;
  font-size: 1.2em;
  display: none; }

/*# sourceMappingURL=style.css.map */
