body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.2em;
	
	padding-top: 60px; /* Relleno superior igual a la altura de la cabecera*/
}
 
h1 {
	font-size: 1.2em;
	line-height: 1.0em;
	margin: 5px 0;
	text-align: center;
	font-weight: 300;
}
h2 {
	text-align: center;
} 
p {
	margin: 0 0 0.3em 0;
}
 
img {
	max-width: 60%;
	margin: 5px 0;
	height: auto;
}
/*
* Este codigo es para dar estilo a la cabecera
*/

#main-header {
	background: #48D1CC;
	color: white;
	height: 60px;
	
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}
#main-header a {
		color: white;
	}	
 
/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 2px 0 0 0;
	text-decoration: none;
	display:none;
}	
	
 /*
  *Buscador 
  */
 #buscador {
 	float: left;
	padding: 1px 0 0 0;
	text-decoration: none;
	display:none;
 }
 #buscador input{
 	width: 13em;
 }
 #buscador form{
 	width: 90%;
	max-width: 800px;
	margin: 10px 0.1em;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
 }
/*
 * Menu
 */
nav {
	float: right;
	font-size: 0.800em;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 60px;
		}	
		nav ul li a {
			display: block;
			padding: 0 2px;
			text-decoration: none;
		}	
		nav ul li a:hover {
			background: #0b76a6;
		}
			nav ul li ul{
				float: left;
				width:auto;
				background:#48D1CC;
				display: none;
			}
			nav ul li:hover ul {
				display:inline-block;
			}
#azalpena{
	text-align:center;
}
/*
 * Esto para el contador de visitas
 */
div.visitas{
	float: left;
	width: 10em;
	background-color: #48D1CC;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
	color:white;
	display:none;
}		
/*
 * Esto para el carrito de la compra
 */
div.pagproductos, div.pagcesta {
font-family: Helvetica, Arial, sans-serif;
margin: 0;
padding-top: 35px;
text-align: center;
color: white;
}
.pagproductos #cesta {
float: right;
width: 10em;
background-color: #48D1CC;
}
.pagproductos #cesta h3 {
margin-left: 10px;
margin-right: 10px;
font-size: 0.875em;
}
.pagproductos #cesta p {
margin-left: 10px;
margin-right: 10px;
font-size: 10px;
}
.pagproductos #cesta input[type="submit"] {
margin-left: 10px;
margin-right: 10px;
margin-bottom: 3px;
width:100px;
height:30px;
padding-left:0px;
}
.pagproductos #productos {
margin: 0 10em 0 10px;
}
.pagcesta #productos {
margin: 10px;
font-size: 12px;
}
.pagproductos #productos input,
.pagproductos #productos p {
font-size: 0.875em;
}
#productos .codigo {
width: 20%;
float: left;
}
#productos .nombre {
width: 60%;
float: left;
}
#productos .precio {
width: 20%;
text-align: right;
font-weight: bold;
}
		
/*
*Con esto aplico diseño al contenido
*/
#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
 
	#main-content header,
	#main-content .content {
		padding: 40px;
	}
/*
*Estilos pie de pagina
*/
#main-footer {
	background: #48D1CC;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;	display:inline-block;

	}
/*
*Estilos para el formulario
*/
form{
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	
}
/*
*Estilos para los contenedores
*/
.flex-container {
	display:-moz-flex;
    width: auto;
	height:100%;
    background-color: #D3D3D3;
	border-radius: 20px;
	box-shadow: 10px 10px 5px #888888;
	-moz-flex-direction:column;
}
.flex-item8 {
	display:inline-block;
	width: auto;
	height: auto;
    margin: 10px;
	border-radius: 20px;
	
}

span{
	display:block;
	text-align: center;
}
/*
 * Estilo para el div del localStorage
 */
div.visitas{
	display:none;	
}
