/*
 * Estilos para las cookies
 */
#informativo {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 999999;
    display: block;
}
#cookie {
    margin: auto;
    position: relative;
    top: 0px;
    height: 58px;
    width: 100%;
    text-align:center;
    background-color: #eeeeee;
}
#cookie p {
    line-height:58px;
    font-size:12px;
    text-align:center;
}